<!DOCTYPE html>

<html lang="bs">

<head>
    <meta charset="utf-8" />
</head>

<body style="background-color: #D1E9FE;">
    <div style="width: 80vw; margin-left: auto; margin-right: auto;">
        <h3>Poštovani {{ Name }},</h3>
        <p>Postali ste administrator.<br /></p>
        <p>Vaša nova lozinka je: <strong>{{ NewPassword }}</strong><br/></p>
        <strong>Molim Vas da što prije promijenite lozinku!</strong>
    </div>
<div style="width: 80vw; margin-left: auto; margin-right: auto;">
    <p>S poštovanjem,<br>Moj Prijevoz Team.</p>
</div>
</body>
</html>