<!DOCTYPE html>

<html lang="bs">

<head>
    <meta charset="utf-8" />
</head>

<body style="background-color: #D1E9FE;">
    <div style="width: 80vw; margin-left: auto; margin-right: auto;">
        <h3>Poštovani {{ Name }},</h3>
        <p>Neko je zatražio reset lozinke na Vašem računu.<br /></p>
        <p>Ukoliko to niste Vi, možete slobodno ignorisati ovaj mail.<br /></p>

        <div>
            <h3>Kod za reset lozinke:</h3>
            <h3>{{ Code }} </h3>

        </div>
        <p><strong>Napomena: </strong>kod ističe za 15 minuta.</p>

    </div>
<div style="width: 80vw; margin-left: auto; margin-right: auto;">
    <p>S poštovanjem,<br>Moj Prijevoz Team.</p>
</div>
</body>
</html>