<!DOCTYPE html>

<html lang="bs">

<head>
    <meta charset="utf-8"/>
</head>

<body style="background-color: #D1E9FE;">
<div style="width: 80vw; margin-left: auto; margin-right: auto;">
    <h3>Poštovani {{ Name }},</h3>
    <p>Transakcija za mjesec <strong>{{ Month }}</strong> je proknjižena.</p>
    <h3>Očekujte uplatu na Vaš račun u iznosu od: <strong>{{ Price }}KM</strong></h3>
    <h3>Datum i vrijeme knjiženja : {{ PostedAt }}</h3>
</div>
<div style="width: 80vw; margin-left: auto; margin-right: auto;">
    <p>S poštovanjem,<br>Moj Prijevoz Team.</p>
</div>
</body>
</html>