<!DOCTYPE html>

<html lang="bs">

<head>
    <meta charset="utf-8"/>
</head>

<body style="background-color: #D1E9FE;">
<div style="width: 80vw; margin-left: auto; margin-right: auto;">
    <h3>Poštovani {{ Name }},</h3>
    <p>Administrator je uklonio model vozila {{ VehicleName }} kojeg posjedujete. Molimo Vas da dodate novo vozilo kako biste nastavili primati ponude za vožnju.</p>
</div>
<div style="width: 80vw; margin-left: auto; margin-right: auto;">
    <p>S poštovanjem,<br>Moj Prijevoz Team.</p>
</div>
</body>
</html>
